body {
    min-width: 1024px;
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png);
    background-repeat: repeat;
    font-size: 8pt;
    font-family: Verdana, Tahoma, sans-serif;
   
}

#banner{
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png);
    background-repeat: repeat;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}

h1{
    font-size: 24pt;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 3px #999999;
}

#Eborder{
    width: 800px;
    height: max-content;
    border: 4px solid  #999999;
    border-radius: 5px;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#rating{
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png);
    background-repeat: repeat-x;
    width: 550px;
    font-size: 48pt;
    font-weight: bold;
    color: red;
}

#Goverview{
    background-color:#A2B964;
    width: 250px;
    font-size: 8pt;
    font-family: Arial, sans-serif;
    margin-right: 0%;
    float:  right;
    
}

.boxR{
    width: 258px;
    font: bold, 8pt;
    background-color: #E8DC9B;
    border: 2px thick;
    border-color:  grey;
    border-radius: 10px;
    margin: 8px;
}

Lsection{
    
    float: left;
}

Rsection{
    
    float: right;
}

.space{
    margin-left: 10pt;
}

.Bbar{
    position: static;
    margin-top: 90%;
    background-color: #A2B964;
    text-align: center;
    border: 5px solid #A2B964;
}

.validator{
    position: fixed;
   
}
